streamlit
torch
torchvision
transformers
pydicom
opencv-python
numpy
scikit-learn
pandas
matplotlib
seaborn
langdetect
reportlab
Pillow
tqdm
openpyxl
opencv-python-headless
opencv-contrib-python-headless