streamlit
torch
torchvision
transformers
pydicom
opencv-python-headless
opencv-contrib-python-headless
numpy
scikit-learn
pandas
matplotlib
seaborn
sentencepiece
langdetect
reportlab
Pillow
tqdm
openpyxl
altair
protobuf
# optional: clip install may fail, consider using clip-anytorch
# git+https://github.com/openai/CLIP.git
clip-anytorch
